@{
    ViewBag.Title = "Home Page";
}

<h1>Getting started</h1>
<div>
    <div>
        <h2>Welcome!</h2>
        <p>
            If this is your first time, we suggest you to read this guide.

            EWP is an online tool made for improving your trainings. In the web you have different sections, now , we will explain what every of this parts do.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Edit your profile</h2>
        <p>Profile . Here you can edit different aspects of your own personal profile, as adding a profile picture, edit the weight or height.</p>
        <p><a class="btn btn-default" href="/Manage">Profile setings &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create Workout</h2>
        <p>Create new Workout. Here is where you should go first, you can create your own personalized workout using the 1RM method.</p>
        <p><a class="btn btn-default" href="/Plans">Create workout &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Plans</h2>
        <p>In Plans, you can check your current workout if there is one.</p>
        <p><a class="btn btn-default" href="/WorkoutPlans">Plans &raquo;</a></p>
    </div>
</div>
