@{
    ViewBag.Title = "Home Page";
}

<h1>Getting started</h1>
<div>
    <div>
        <h2>Welcome!</h2>
        <p>
            If this is your first time, we suggest you to follow the 3 simple steps found below.

            Easy Workout Planner (EWP) is an online tool made for improving your trainings. In the web you have different sections, now, we will explain what every of this parts do.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Edit your profile</h2>
        <p>Profile settings. Here you can edit different aspects of your own personal profile, gender setting being the most important setting for the most accurate workout plan.</p>
        <p><a class="btn btn-default" href="/Manage">Profile setings &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check plans</h2>
        <p>Plans. Here you can check your past and current plans and create new personalized workouts using the 1RM method.</p>
        <p><a class="btn btn-default" href="/Plans">Create workout &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Current plan</h2>
        <p>Current plan, a quick way to check your current workout, if there is one.</p>
        <p><a class="btn btn-default" href="/WorkoutPlans">Current plan &raquo;</a></p>
    </div>
</div>
