@{
    ViewBag.Title = "Forgot Password Confirmation";
}
@{
    Layout = "~/Views/Shared/_LogCreat.cshtml";
}

@*<h2>@ViewBag.Title.</h2>*@

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <section id="forgotpasswordForm">
        <div>
            <h1 class="logo-name">EWP</h1>
        </div>
        <div>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </section>
</div>


	
